{% extends "base.html" %}



{% block body %}
    {% load static %}
    <head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
    <!-- Content Header (Page header) -->
    <div>
        <h1>MJER Iaido membership card</h1>
    </div>

    {% for testee in object_list %}

        <div class="containar">
            <div>
                <img src="/media/images/web_member_card.png" />
                <h2>会 員 証</h2>
            </div>
            <div>
                <p>
                    {{ testee.status}}
                </p>
                    <br>
                <p>
                    {{ testee.membership_number}}  {{ testee.testee_name}}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
