{% extends "base.html" %}



{% block body %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
    <!-- Content Header (page header) -->
    <body class="hold-transition sidebar-mini layout-fixed">
        <div>
            <ph1>World MJER Iaido Federation <br> Membership card</ph1>
            <hr>
        </div>

        <div class="pcontainer">
            {% for testee in object_list %}
                <img src="/media/images/web_member_card.png" />
                <ph2>会 員 証</ph2>
                <pp><nobr> {{ testee.status}}</nobr></pp>
                <ph3><nobr> {{testee.dojo.dojo_name}} </nobr></ph3>
                <ph4><nobr> {{ testee.membership_number}} </nobr></ph4>
                <ph5><nobr> {{ testee.testee_name}} </nobr></ph5>
            {% endfor %}
        </div>

    </body>
{% endblock %}
