@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

.pcontainer{
    width:60%;
    height:60%;
    margin-left: 20%;
    position: relative;
}
img{

  width:100%;
  height:auto;
}

ph2{
  position: absolute;
  width:50%;
  top:35%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:400%;
  color: rgb(98, 93, 93);
  padding:0;
  margin:0;
  text-align: center;
  font-family: 'Yuji Syuku', serif;
}

pp{
  position: absolute;
  width:50%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:150%;
  color: rgb(98, 93, 93);
  padding:0;
  margin:0;
  text-align: center;
  font-family: 'Yuji Syuku', serif;
}

ph3{
  position: absolute;
  width:50%;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:250%;
  color: rgb(98, 93, 93);
  text-align: center;
  font-family: 'Yuji Syuku', serif;
}

ph4{
  position: absolute;
  width:50%;
  top:75%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:300%;
  color: rgb(98, 93, 93);
  text-align: center;
  font-family: 'Yuji Syuku', serif;
}